body {
  background-color: rgb(57, 62, 70);
  display: block;
  margin: 8px;
}

.heading {
  display: block;
  text-align: center;
}

.heading h1 {
  font-family: 'Lobster', cursive;
  /* font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif; */
  font-size: 8rem;
  color: rgb(78, 204, 163);
  margin: 30px;
}

.dices {
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 40px;
  justify-content: center; 
  text-align: center;
  margin: auto; /* Center horizontally */
}

.player1 h3 {
  color:rgb(78, 204, 163);
  font-family: 'Lobster', cursive;
} 

footer {
  color: aliceblue;
  font-family: 'Lobster', cursive;
  text-align: center;
}